.rocket-card {
  width: calc(100% - 16px);
  background-size: cover;
  padding: 40px 0;
  border-radius: 7px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: rgba(255, 255, 255, 0.08);
  float: right;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-decoration: none;
}

.rocket-card-meta {
  padding: 0 30px 30px 30px;
}

.rocketMadeBy {
  color: #FFF;
  margin-top: 20px;
  padding: 0 30px 0 30px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.rocketMadeBy::before {
  content: "made by";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  display: block;
}

.rocket-timer {
  width: calc(100% - 16px);
  background-color: #FFF;
  padding: 20px 0;
  border-radius: 7px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.timer {
  color: #333;
}

.mission {
  width: calc(100% - 16px);
  padding: 20px 0 40px 0;
  border-radius: 7px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
}

.missionName {
  color: #FFF;
  margin-top: 20px;
  padding: 0 30px 0 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.missionName::before {
  content: "Mission";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  display: block;
}

.missionType {
  color: #FFF;
  margin-top: 20px;
  padding: 0 30px 0 30px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.missionType::before {
  content: "Mission";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  display: block;
}

.missionDesc {
  color: #FFF;
  margin-top: 20px;
  padding: 0 30px 0 30px;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  text-transform: none;
}

.missionDesc::before {
  content: "description";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  display: block;
  text-transform: uppercase
}

.card {
  width: calc(100% - 16px);
  padding: 40px 0;
  border-radius: 7px;
  margin: 20px auto;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.agencyName {
  color: #FFF;
  padding: 0 30px 0 30px;
  font-weight: 700;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.agencyName::before {
  content: "agency";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  display: block;
  text-transform: uppercase
}

.agencyCountry {
  color: #FFF;
  padding: 0 30px 0 30px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.agencyCountry::before {
  content: "country";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 12px;
  display: block;
  text-transform: uppercase
}

.padName {
  color: #FFF;
  padding: 0 30px 0 30px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.padName::before {
  content: "Launch pad";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 12px;
  display: block;
  text-transform: uppercase
}