body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0e0ee;
}

* {
  box-sizing: border-box;
}

.header {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  /*background-color: #14141f;*/
  /*background-color: #FFF;*/
  font-weight: 700;
  font-size: 18px;
}

.header>* {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  margin: 0 10px;
}

.container {
  max-width: 780px;
  width: 100%;
  margin: 80px auto;
}

.timer {
  font-size: 24px;
}

.launch-agencies img {
  margin: -3px 4px;
}

.launch-agencies a {
  float: left;
  background-color: #44E;
  color: #FFF;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
  margin: 0 5px 5px 0;
}

.launch-desc {
  line-height: 1.5;
  font-size: 14px;
  padding: 10px;
}

.launch-type {
  background-color: #292;
  color: #FFF;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 13px;
  margin-bottom: 10px;
  float: left;
}

.launch-tags {
  width: 100%;
  overflow: auto;
}

.launch-rocket-name a {
  color: #FFF;
  text-decoration: none;
}

.launch-link {
  background-color: #929;
  text-decoration: none;
  color: #FFF;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 13px;
  margin: 0 5px 5px 0;
  float: left;
}