body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.header>* {
  display: inline-block;
  margin: 0 10px;
}

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.launch {
  background-color: #EEE;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.launch-meta {
  background-color: #FFF;
  width: 100%;
  display: table-cell;
}

.launch-meta-title {
  font-size: 13px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  color: #333;
  height: 50px;
  line-height: 50px;
}

.launch-rocket {
  display: table-cell;
  background-size: 200px;
  width: 200px;
}

.launch-rocket img {
  display: block;
}

.launch-rocket-name {
  text-align: center;
  font-size: 13px;
  background-color: #333;
  border-bottom: 1px solid #000;
  color: #FFF;
  height: 50px;
  line-height: 50px;
}

.launch-agencies span {}

.launch-agencies img {
  margin: -3px 4px;
}

.launch-agencies a {
  float: left;
  background-color: #44E;
  color: #FFF;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
  margin: 0 5px 5px 0;
}

.launch-desc {
  line-height: 1.5;
  font-size: 14px;
  padding: 10px;
}

.launch-type {
  background-color: #292;
  color: #FFF;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 13px;
  margin-bottom: 10px;
  float: left;
}

.launch-tags {
  width: 100%;
  overflow: auto;
}

.launch-rocket-name a {
  color: #FFF;
  text-decoration: none;
}